.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/sql.js/**
!node_modules/better-sqlite3/**
src/**
webview/**
!webview/dist/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
